.mytestbtn {
  background-color: hsl(293, 100%, 50%);
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header p.tung { 
    color: green; 
    margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.v {
    size: 666;
}